body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  border-bottom: solid 1px rgb(200, 200, 200);
}

.baset {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
}

.baset1 {
  font-size: 13px;
  font-weight: 500;
  border-left: solid 1px rgb(200, 200, 200);
  padding: 8px 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub {
  font-size: 10px;
  font-weight: 400;
  margin-top: 3px;
}

.baset3 {
  display: flex;
  align-items: center;

  font-size: 13px;
  font-weight: 500;

  border-left: solid 1px rgb(200, 200, 200);
  padding: 8px 15px;
}

.baset4 {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 13px;
  font-weight: 500;

  border-left: solid 1px rgb(200, 200, 200);
  padding: 8px 15px;
}

.sc_logo {
  margin-right: 8px;
}

.li_icon {
  margin-right: 5px;
}

.baset5 {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 13px;
  font-weight: 500;

  border-left: solid 1px rgb(200, 200, 200);
  border-right: solid 1px rgb(200, 200, 200);
  padding: 8px 15px;

  background-color: rgb(220, 220, 220);
}

/* nav */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 30px;

  padding-bottom: 15px;
}

.lib_logo {
  margin-right: 50px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;

  font-size: 16px;
  font-weight: 600;
}

.nav_img {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* section1 */
.search {
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search img {
  width: 100vw;
  height: 280px;
  overflow: hidden;
}

/* section3 */
.sideset {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.sideset section {
  margin-left: 5px;
}

.anounwidth {
  width: 48vw;
}

.announce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 2px black;
}

.announce1 {
  display: flex;
  flex-direction: row;
}

.notion {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.notion1 {
  font-size: 28px;
  font-weight: 600;
  color: palevioletred;
}
.notion2 {
  font-size: 28px;
  font-weight: 600;
}
.notion3 {
  font-size: 16px;
  color: rgb(140, 140, 140);
  font-weight: 500;

  position: relative;
  top: 10px;
}

.culture {
  display: flex;
  flex-direction: row;

  position: relative;
  top: 4px;
}

.culture1 {
  font-size: 23px;
  font-weight: 300;
  color: rgb(150, 150, 150);
}
.culture2 {
  font-size: 23px;
  font-weight: 300;
}
.culture3 {
  font-size: 13px;
  font-weight: 200;
  color: rgb(150, 150, 150);

  position: relative;
  top: 10px;
}

.plus {
  color: palevioletred;
  font-size: 50px;
  font-weight: 100;

  position: relative;
  top: 5px;
}

.letter {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 8px;

  border-bottom: solid 1px rgb(150, 150, 150);

  white-space: nowrap;
  overflow: hidden;
}
.let_title {
  font-size: 17px;
  font-weight: 300;
}
.let_date {
  font-size: 17px;
  font-weight: 300;

  color: rgb(180, 180, 180);

  margin-top: 2px;
}

.infoimg {
  width: 48vw;
  height: 48vw;
}

@media all and (min-width: 1024px) {
  .nav_img {
    display: none;
  }

  /* section2 */
  .service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

    padding-top: 30px;
    padding-bottom: 40px;

    background-color: rgb(240, 240, 240);

    border-top: solid 1px rgb(220, 220, 220);
    border-bottom: solid 1px rgb(220, 220, 220);
  }

  .service2 {
    display: flex;
    flex-direction: row;
    gap: 3vw;
  }

  .service1,
  .service3,
  .service4,
  .service5,
  .service6 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  .serv_name {
    margin-top: 15px;
  }
}

@media all and (max-width: 1024px) {
  .baset {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .navset {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding-bottom: 5px;
  }

  .lib_logo {
    position: absolute;
    left: 0;
  }

  .nav_img {
    position: absolute;
    right: 0;
    margin-right: 5px;
  }
  /* section2 */
  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    padding-top: 30px;
    padding-bottom: 40px;

    background-color: rgb(240, 240, 240);

    border-top: solid 1px rgb(220, 220, 220);
    border-bottom: solid 1px rgb(220, 220, 220);
  }

  .service2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
  }

  .service1,
  .service3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .service4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 3px;
  }

  .service5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 10px;
  }

  .service6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 15px;
  }

  .serv_name {
    margin-left: 15px;
  }
}
@media all and (max-width: 770px) {
  .service3 {
    display: none;
  }

  .service2 {
    display: flex;
    flex-direction: row;
    gap: 6vw;
  }

  .service1,
  .service5,
  .service6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .service5,
  .service6 {
    position: relative;
    left: 0;
    right: 15px;
  }

  .serv_name {
    margin-left: 10px;
  }

  .sideset section {
    display: none;
  }

  .infoimg {
    width: 80vw;
    height: 80vw;
  }
}

@media all and (max-width: 570px) {
  .service3 {
    display: none;
  }
  .service1,
  .service4,
  .service5,
  .service6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service2 {
    display: flex;
    flex-direction: row;
    gap: 10vw;
  }

  .serv_name {
    margin-top: 15px;
  }

  .sideset section {
    display: none;
  }

  .infoimg {
    width: 80vw;
    height: 80vw;
  }
}
