@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,
body,
* {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  color: #666;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: NG, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}

.ikc-keyboard-accessibility {
  position: relative;
}

.ikc-container-wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -100px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.ikc-imagezone-wrap {
  background: url(../images/duksung/main/main-img3.jpg) bottom no-repeat;
  background-size: cover;
}

.ikc-imagezone-intro {
  padding-top: 85px;
  box-sizing: border-box;
}
.ikc-imagezone-intro {
  max-width: 1200px;
  height: 275px;
  margin: 0 auto;
}

.ikc-imagezone-wrap .ikc-search-wrap {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  border: 0;
  background: 0 0;
}

.ikc-pyxis-wrap {
  height: 100%;
  color: #666;
}

.ikc-pyxis-wrap {
  height: 100%;
  color: #666;
}

.k-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

.k-tabstrip .k-tabstrip-items > .k-item {
  text-align: center;
  background: 0 0;
  border: none;
  border-top: 2px solid transparent;
}
.ikc-imagezone-wrap .ikc-search-wrap ul li {
  display: table-cell;
  width: 127px;
  height: 40px;
  background-color: rgba(226, 110, 113, 0.7);
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active,
.k-ie7 .k-tabstrip-items .k-state-active .k-loading {
  background-color: #fff;
  background-image: none;
  border-color: #9f9f9f;
}
.k-tabstrip-items .k-state-default,
.k-ie7 .k-tabstrip-items .k-state-default .k-loading {
  border-color: #c5c5c5;
}
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active {
  background-color: #fff;
  border-color: #9f9f9f;
  color: #313131;
}

.k-link {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.ikc-imagezone-wrap .ikc-search-wrap .ikc-search {
  display: table;
  max-width: 600px;
  width: 100%;
  border: 3px solid #96435c;
  box-sizing: border-box;
}
.k-tabstrip > .k-content.k-state-active {
  color: #666;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #2e2e2e;
}

.ikc-imagezone-wrap .ikc-search-wrap .ikc-search .ikc-btn-search span,
.ikc-search-wrap .ikc-search .searchGroup .searchwrap1 .swh1,
.swh2 {
  font-size: 0;
  visibility: hidden;
}

.k-animation-container,
.k-widget,
.k-widget *,
.k-animation-container *,
.k-widget *:before,
.k-animation-container *:after,
.k-block .k-header,
.k-list-container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.k-tabstrip > .k-content.k-state-active {
  color: #666;
}

.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #2e2e2e;
}

.ikc-search-wrap .ikc-search .ikc-search-keyword input {
  padding: 0;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 3px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: #d5d5d5;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
  height: 1.65em;
  line-height: 1.65em;
  padding: 0.177em 0;
  text-indent: 0.33em;
  border: 0;
  margin: 0;
}
.k-textbox > input,
.k-autocomplete .k-input {
  display: block;
}
.k-textbox > input,
.k-input[type="text"],
.k-input[type="number"],
.k-textbox,
.k-picker-wrap .k-input,
.k-button {
  font-size: 100%;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: #fff;
  color: #5f2200;
}

.ikc-header .ikc-bland-name {
  text-align: center;
}

.ikc-header .ikc-gnb {
  display: table-cell;
  width: 100%;
  padding-left: 45px;
  box-sizing: border-box;
  font-weight: 600;
  font-family: NanumGothicBold;
}
.ikc-header .ikc-gnb {
  text-align: center;
}
.ikc-blind,
dd,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
}

.ikc-header .ikc-btn-overview {
  top: 1.3em;
  right: 0.5em;
  left: auto;
  width: auto;
  background: #fff;
  color: #901e43;
}
.ikc-header .ikc-btn-overview {
  display: inline-block;
  position: absolute;
  height: 3em;
}

.ds-sub-search .ikc-search .ikc-btn-search span,
.ikc-alert .ikc-alert-btn-close span,
.ikc-autocomplete-select label .blind,
.ikc-autocomplete-select label.blind,
.ikc-check-group label .blind,
.ikc-check-group label.blind,
.ikc-check-single label .blind,
.ikc-check-single label.blind,
.ikc-checkbox label .blind,
.ikc-checkbox label.blind,
.ikc-combobox label .blind,
.ikc-combobox label.blind,
.ikc-date-picker label .blind,
.ikc-date-picker label.blind,
.ikc-drop-down-list label .blind,
.ikc-drop-down-list label.blind,
.ikc-fileupload label .blind,
.ikc-fileupload label.blind,
.ikc-grid-list label .blind,
.ikc-grid-list label.blind,
.ikc-header .ikc-btn-overview span,
.ikc-header .ikc-dashboard-popup .btn-close span,
.ikc-keriswill-libraries label .blind,
.ikc-keriswill-libraries label.blind,
.ikc-masktextbox label .blind,
.ikc-masktextbox label.blind,
.ikc-multi-select label .blind,
.ikc-multi-select label.blind,
.ikc-numberbox label .blind,
.ikc-numberbox label.blind,
.ikc-numberbox-button label .blind,
.ikc-numberbox-button label.blind,
.ikc-overview-wrap .ikc-btn-overview span,
.ikc-radio-group label .blind,
.ikc-radio-group label.blind,
.ikc-search-ex-keyword label .blind,
.ikc-search-ex-keyword label.blind,
.ikc-search-ex-keyword:first-child span:first-child,
.ikc-search-topbtns .ikc-search-opt-wrap input,
.ikc-select-email label .blind,
.ikc-select-email label.blind,
.ikc-textarea label .blind,
.ikc-textarea label.blind,
.ikc-textbox label .blind,
.ikc-textbox label.blind,
.ikc-textbox-group label .blind,
.ikc-textbox-group label.blind {
  visibility: hidden;
}

.ds-btn-my {
  background: url(../img/ds-btn-my.jpg) center no-repeat;
}

.ds-btn-login,
.ds-btn-my {
  position: absolute;
  top: 1.3em;
  width: 2.5em;
  height: 3em;
  right: 0;
}

.ikc-header .ikc-gnb > li {
  position: relative;
  width: 12%;
  height: 80px;
  padding: 0;
  line-height: 70px;
  cursor: pointer;
}
.ikc-header .ikc-gnb li {
  display: inline-block;
  padding: 10px 20px;
}

.ikc-pyxis-guide ul li ul li,
ol li,
ul li {
  list-style: none;
}

.ikc-header .ikc-gnb > li a {
  letter-spacing: -1px;
  font-size: 1em;
}
.ikc-header .ikc-gnb li a {
  font-size: 0.9em;
}
a {
  cursor: pointer;
}
a,
a a:focus,
a:active,
a:hover {
  color: #333;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}

.ikc-header .ikc-header-nav {
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.ikc-header .ikc-header-nav {
  text-align: right;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
.ikc-pyxis-wrap {
  height: 100%;
  color: #666;
}

.ikc-header .ikc-header-nav {
  text-align: right;
}
.ikc-pyxis-wrap {
  height: 100%;
  color: #666;
}

.ikc-header .ikc-header-nav {
  text-align: right;
}
.ikc-pyxis-wrap {
  height: 100%;
  color: #666;
}

.ikc-header .ikc-header-nav .ds-tm li .ds-portal {
  line-height: 17px;
  text-align: left;
  padding-top: 5px;
}
.ikc-header .ikc-header-nav .ds-tm li a {
  display: inline-block;
  font-size: 12px;
  line-height: 43px;
  font-weight: 600;
  font-family: NanumGothicBold;
}
a {
  cursor: pointer;
}
a,
a a:focus,
a:active,
a:hover {
  color: #333;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ikc-header .ikc-header-nav .ds-tm li {
  display: inline-block;
  height: 43px;
  padding: 0 16px;
  margin: 0 auto;
  font-size: 12px;
  border-left: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  vertical-align: top;
  box-sizing: border-box;
}
.ikc-pyxis-guide ul li ul li,
ol li,
ul li {
  list-style: none;
}

.ikc-header .ikc-btn-overview {
  top: 1.3em;
  right: 0.5em;
  left: auto;
  width: auto;
  background: #fff;
  color: #901e43;
}
.ikc-header .ikc-btn-overview {
  display: inline-block;
  position: absolute;
  height: 3em;
}
@media (min-width: 625px) and (max-width: 625px) {
  .hidden-md {
    display: none !important;
  }
}

.ikc-header .ikc-btn-overview:before {
  box-shadow: 0 10px 0;
}
.ikc-header .ikc-btn-overview:before {
  top: 0.75em;
  display: block;
}
.ikc-header .ikc-btn-overview:after,
.ikc-header .ikc-btn-overview:before {
  display: block;
  height: 3px;
  background: #901e43;
}
.ikc-header .ikc-btn-overview:after,
.ikc-header .ikc-btn-overview:before {
  left: 0.7em;
  content: "";
  width: 1.6em;
  border-radius: 3px;
  position: absolute;
}

.ikc-header .ikc-btn-overview:after {
  top: 2em;
  display: block;
}
.ikc-header .ikc-btn-overview:after,
.ikc-header .ikc-btn-overview:before {
  display: block;
  height: 3px;
  background: #901e43;
}
.ikc-header .ikc-btn-overview:after,
.ikc-header .ikc-btn-overview:before {
  left: 0.7em;
  content: "";
  width: 1.6em;
  border-radius: 3px;
  position: absolute;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ds-sub-search .ikc-search .ikc-btn-search span,
.ikc-alert .ikc-alert-btn-close span,
.ikc-autocomplete-select label .blind,
.ikc-autocomplete-select label.blind,
.ikc-check-group label .blind,
.ikc-check-group label.blind,
.ikc-check-single label .blind,
.ikc-check-single label.blind,
.ikc-checkbox label .blind,
.ikc-checkbox label.blind,
.ikc-combobox label .blind,
.ikc-combobox label.blind,
.ikc-date-picker label .blind,
.ikc-date-picker label.blind,
.ikc-drop-down-list label .blind,
.ikc-drop-down-list label.blind,
.ikc-fileupload label .blind,
.ikc-fileupload label.blind,
.ikc-grid-list label .blind,
.ikc-grid-list label.blind,
.ikc-header .ikc-btn-overview span,
.ikc-header .ikc-dashboard-popup .btn-close span,
.ikc-keriswill-libraries label .blind,
.ikc-keriswill-libraries label.blind,
.ikc-masktextbox label .blind,
.ikc-masktextbox label.blind,
.ikc-multi-select label .blind,
.ikc-multi-select label.blind,
.ikc-numberbox label .blind,
.ikc-numberbox label.blind,
.ikc-numberbox-button label .blind,
.ikc-numberbox-button label.blind,
.ikc-overview-wrap .ikc-btn-overview span,
.ikc-radio-group label .blind,
.ikc-radio-group label.blind,
.ikc-search-ex-keyword label .blind,
.ikc-search-ex-keyword label.blind,
.ikc-search-ex-keyword:first-child span:first-child,
.ikc-search-topbtns .ikc-search-opt-wrap input,
.ikc-select-email label .blind,
.ikc-select-email label.blind,
.ikc-textarea label .blind,
.ikc-textarea label.blind,
.ikc-textbox label .blind,
.ikc-textbox label.blind,
.ikc-textbox-group label .blind,
.ikc-textbox-group label.blind {
  visibility: hidden;
}

li {
  list-style: none;
}

.nav-wrap {
  text-align: center;
}

#header-container {
  max-width: 1200px;
  margin: 0 auto;
}

#header-nav {
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.nav .ds-nav {
  display: block;
  max-width: 1200px;
  height: 43px;
  margin: 0 auto;
}

#ds-logonav {
  float: right;
  display: block;
  max-width: 1200px;
  height: 43px;
  margin: 0 auto;
}

#header-1 li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin-right: 10px;

  display: inline-block;
  height: 43px;
  padding: 0 16px;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  border-left: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  vertical-align: top;
  box-sizing: border-box;
}

#header-2 {
  display: table;
  width: 100%;
  padding: 20px 0 0;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.ds-logo {
  display: table-cell;
  vertical-align: top;
}

#header-2 li {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin-right: 10px;

  display: inline-block;
  height: 43px;
  padding: 0 16px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  border-top: none;
  border-bottom: none;
  vertical-align: top;
  box-sizing: border-box;
}

#nav22-search {
  height: 300px;
  background-image: url("../img/main-img3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#nav3-icon {
  height: 220px;
  background-color: #f4f3f0;
  border: 1px solid #dfdedd;
}

.ikc-imagezone-intro {
  padding-top: 85px;
  box-sizing: border-box;
}
.ikc-imagezone-wrap .ikc-search-wrap ul {
  display: table;
}

.ikc-search-summery li.ikc-active,
.k-tabstrip .k-tabstrip-items > .k-item.k-state-active {
  background: #901e43;
}

.ikc-imagezone-wrap .ikc-search-wrap form {
  position: relative;
  display: table;
  width: 100%;
  max-width: 600px;
  background: #fff;
  opacity: 0.9;
}
.ikc-imagezone-wrap .ikc-search-wrap .ikc-search .ikc-search-keyword {
  display: inline-block;
  width: 100%;
  height: 59px;
  margin: 0;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
}

.ikc-imagezone-wrap .ikc-search-wrap ul {
  display: table;
}
.ikc-imagezone-intro
  .k-tabstrip
  .k-tabstrip-items
  > .k-item.k-state-active
  > .k-link {
  padding: 0;
  display: block;
  background: 0 0;
}

.ikc-imagezone-wrap .ikc-search-wrap {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  border: 0;
  background: 0 0;
}

.ds-quick {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  max-width: 1200px;
  padding: 40px 0;
  margin: 0 auto;
}

.ds-quick li {
  display: inline-block;
  width: 12.5%;
}

.ds-quick li a {
  display: block;
  height: 76px;
  padding: 90px 0 0;
  box-sizing: border-box;
}
.ds-quick li span {
  display: block;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
}

.ds-quick .main-q1 {
  background: url(../img/main-q1.png) center top no-repeat;
}

.ds-quick .main-q2 {
  background: url(../img/main-q2.png) center top no-repeat;
}

.ds-quick .main-q3 {
  background: url(../img/main-q3.png) center top no-repeat;
}
.ds-quick .main-q4 {
  background: url(../img/main-q4.png) center top no-repeat;
}
.ds-quick .main-q5 {
  background: url(../img/main-q5.png) center top no-repeat;
}
.ds-quick .main-q6 {
  background: url(../img/main-q6.png) center top no-repeat;
}
.ds-quick .main-q7 {
  background: url(../img/main-q7.png) center top no-repeat;
}
.ds-quick .main-q8 {
  background: url(../img/main-q8.png) center top no-repeat;
}

#content-wrap {
  width: 100%;
  height: auto; /* changed to auto */
  max-width: 1200px;
  margin: 50px auto 0;
}

#content-wrap .col-lg-6 a span {
  color: #e888a5;
}

.k-tabstrip-items {
  font-size: 1.7em;
  color: #333;
  font-weight: 600;
  background: 0 0;
}

#content-wrap .col-lg-6 .small {
  color: #999;
  font-size: 0.5em;
  letter-spacing: 1px;
}

.ds-first-section .ds-notice-wrap .list {
  width: 100%;
  margin-top: 10px;
  border-top: 2px solid #000;
  box-sizing: border-box;
}
@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
}

.ds-first-section .ds-notice-wrap {
  position: relative;
  padding-left: 0;
  margin-top: 9px;
  border: none;
}

.ds-first-section .ds-banner-wrap {
  position: relative;
  z-index: 0;
}

.ds-first-section .ds-notice-wrap .list > ul > li {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.ds-first-section .ds-notice-wrap .list > ul > li a {
  display: block;
  width: 100%;
  padding: 10px 25px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.ds-first-section .ds-notice-wrap .list > ul > li > span {
  display: block;
  padding: 2px 0 0 25px;
  color: #b5b4b4;
  box-sizing: border-box;
}

.ds-first-section .ds-notice-wrap .list > ul > li {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #cdcdcd;
  box-sizing: border-box;
}

.ds-first-section .ds-notice-wrap .list > ul > li a {
  display: block;
  width: 100%;
  padding: 10px 25px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.ds-first-section .ds-notice-wrap .list > ul > li > span {
  display: block;
  padding: 2px 0 0 25px;
  color: #b5b4b4;
  box-sizing: border-box;
}
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0, 0);
}

.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 5px;
}
