* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
}

/* 사진이 꽉 차도록 */
body {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin: 1vw;
  font-weight: bold;
  font-size: 1.5rem;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 7vw;
}

.navbar2 {
  display: none;
}

.navbar2 img {
  margin: 0.5vw;
}

/* 사진 수정 */
.section1_div {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.section1_div img {
  width: 100%;
  margin-top: -30%;
}

.section2_img {
  text-align: center;
  margin: 2vw;
}

.section2_img p {
  color: #5c6168;
  font-size: 1.4rem;
  font-weight: bold;
}

.section2_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f4f3f0;
  margin-top: -0.3vw;
}

#notice {
  color: #e888a5;
}

#_notice,
#culture,
#_culture {
  color: #a0a0a0;
}

#bold_p {
  font-size: 2.24rem;
}

#bold_p2 {
  font-size: 2.24rem;
}

#_notice,
#_culture {
  font-size: 1.2rem;
}

.notice_culture {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex: 8;
}

#section3_div2 {
  margin-left: 6vw;
}

.section3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}

.section3_div {
  width: 40vw;
  margin-left: 8vw;
}

.text {
  font-size: 1.6rem;
}

.date {
  margin-left: 2vw;
  font-size: 1.6rem;
  color: #b5bbce;
}

/* .setion3_text {
  display: block;
  width: 40vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} */

/* hr대신 border-bottom으로 수정함 */
.section3_2 {
  padding: 0.7vw;
  border-bottom: 1px solid #a0a0a0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.section3_2 span {
  margin-left: 1.3vw;
}

.section3_4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3.4vw;
}

.section4 {
  width: 40vw;
  /* height: 40vw; */
  overflow: hidden;
  margin: 0 auto;
  margin-left: 5vw;
}

.section4 img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 1103px) {
  /* 화면 너비가 1103px 이하인 경우에만 적용되는 스타일 */
  .head_div img {
    width: 80%;
  }
  .navbar ul {
    padding: 0;
  }
  .navbar ul li {
    margin: 0.7vw;
  }
}

@media all and (max-width: 992px) {
  /* 화면 너비가 992px 이하인 경우에만 적용되는 스타일 */
  .navbar {
    visibility: hidden;
  }
  .section2_div {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section2_img {
    width: 22vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vw 1vw;
    flex-wrap: nowrap;
  }
  .section2_img p {
    margin-left: 0.5vw;
  }
  .navbar2 {
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media all and (max-width: 833px) {
  /* 화면 너비가 833px 이하인 경우에만 적용되는 스타일 */
  #sec2_img1,
  #sec2_img2 {
    display: none;
  }
  .section2_img {
    width: 30vw;
  }
}

@media all and (max-width: 607px) {
  /* 화면 너비가 607px 이하인 경우에만 적용되는 스타일 */
  #sec2_img1,
  #sec2_img2 {
    display: none;
  }
  .section2_img {
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
}
