#container, #header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
    margin: 0;
    background-color: #D5C9DD;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.me, .one {
    max-width: 500px;
    margin: 0 10px; /* 좌우 여백 추가 */
    line-height: 200%;
}

/* 환영 메시지 스타일링 */
.intext {
    text-align: center;
    width: 100%;
    padding-bottom: 50px;
    font-weight:100px;
}

/* 교육 및 활동 섹션 컨테이너 */
.two {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* 교육 및 활동 섹션의 내부 스타일링 */
.ed, .ac {
    flex: 1;
    text-align: center;
    margin: 0 10px;
    white-space: pre-wrap;
    line-height: 200%;
}

.one > p {
    font-weight:bold
}

.fav {
    align-items: center;
    text-align: center;
    margin-bottom: 10;
}

.music {
    width: 300px;
    height: 300px;
    margin-left: 3%;
}

.lan {
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #C7B9C5;
    padding-bottom: 50px;
    font-weight:100px;
}