div.container {
  display: block;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #a6a6a6;
  color: #292929;
  font-size: 20px;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 400px;
  transform: translate(-50%, -50%);
}

.form > input {
  border-radius: 0px;
  display: block;
  box-sizing: border-box;
  border-color: #fff;
  border-bottom: 1px solid #a6a6a6;
  border-left: 0;
  border-top: 0;
  width: 100%;
  /*border-width: 0;*/
}

.footer {
  display: flex;
  width: 100%;

  justify-content: space-between;
  padding-right: 5px;
}

.footer > ul {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer > ul > li > img {
  width: 50px;
  height: 50px;
  float: left;
}

ul.optoins {
  color: #292929;
  display: flex;
  box-sizing: border-box;
  width: auto;
  height: 50px;
}
.check {
  color: #a6a6a6;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  float: right;
  padding-right: 20px;
  align-items: center;
}

.optoins > input {
  font-size: 14px;
  color: #737373;
}

.optoins > li.submit > img {
  background-color: #f91f15;
  height: 95%;
}
