@media all and (min-width: 641px) {
  body .header_hidden {
    display: none;
  }
  .posted {
    justify-content: center;
  }
}

@media all and (max-width: 1180px) {
  body .header,
  section .posted {
    justify-content: flex-start;
    overflow-x: hidden;
  }
}

@media all and (max-width: 640px) {
  body .header {
    display: none;
  }
  section .aside {
    display: none;
  }
  .secret .title {
    display: none;
  }
  body #sec2 {
    justify-content: flex-start;
    width: 100%;
    margin-top: 2px;
  }
  section .posted {
    height: 220px;
    justify-content: flex-start;
    overflow-x: auto;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
  font-family: "Apple SD Gothic Neo", "맑은 고딕", "돋움", sans-serif;
  letter-spacing: -0.5px;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 100vw;
  height: 80px;
  white-space: nowrap;
}

.header_hidden {
  display: flex;
  align-items: center;
  padding: 13px;
  z-index: 1;
  font-size: 17px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.header_hidden img {
  width: 1.5em;
  padding-right: 14px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.logo img {
  width: 40px;
  height: auto;
  margin-left: 20px;
  margin-right: 10px;
}

.logo #text {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 23.5px;
  font-weight: 400;
  align-self: flex-start;
  padding: 0px;
}

.logo span {
  align-self: flex-start;
  margin-left: 3px;
  font-size: 13px;
  font-weight: 700;
  color: red;
}

nav {
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}

nav ul li {
  margin-right: 24px;
  font-size: 16px;
  font-weight: bold;
  color: #444444;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li:hover {
  color: red;
}

.pick {
  color: red;
  font-weight: bold;
}

.icon {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

.icon img {
  width: 22px;
}

.icon > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #b9b9b9;
  margin-right: 5px;
}

.posted {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #f2f2f2;
  height: 230px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 0 auto;
  margin: 0 auto;
}

.posted ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 0px;
  margin: 0;
  font-size: 13px;
  color: #444444;
}

.posted li {
  margin-bottom: 6.5px;
  flex-shrink: 0;
}

.posted li:hover {
  color: red;
}

.postText {
  margin: 13px 0px 13px 10px;
  border-left: 1px solid #e1e1e1;
  padding-left: 15px;
  padding-right: 40px;
  flex-shrink: 0;
}

#noline {
  border: none;
  font-size: 13px;
  color: #444444;
}

#lastline {
  border-right: 1px solid #e1e1e1;
  font-size: 13px;
  color: #444444;
}

.postText ul li:hover {
  color: red;
  font-weight: bold;
}

#sec2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 22px;
}

.secret {
  width: 50em;
  white-space: nowrap;
}

.secret > div {
  padding: 15px;
  border: 1px solid #d6d6d6;
  margin-top: 5px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

.ask {
  justify-content: center;
}

.ques img,
.fire img {
  align-items: center;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.ques {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
}

.mint {
  background-color: rgb(237, 255, 255);
  font-size: 12px;
  color: #666666;
  padding: 12px;
  border-radius: 13px;
  margin-right: 10px;
}

.fire {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.redness {
  display: flex;
  background-color: rgb(255, 243, 243);
  font-size: 12px;
  color: #666666;
  padding: 12px;
  border-radius: 13px;
}

.good {
  color: red;
  padding-left: 7px;
}

.good img,
.comment img {
  width: 12px;
  height: auto;
  margin-right: 3px;
}

.comment {
  color: rgb(0, 185, 185);
}

#border {
  border: 2px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0px 3px 10px;
  color: #b9b9b9;
  font-size: 14px;
  background-color: #f8f8f8;
}

#border img {
  width: 40px;
}

#posting {
  padding: 0px;
  font-size: 14px;
}

#posting span {
  font-weight: bold;
}

#posting div {
  margin-top: 2px;
}

#post_info {
  font-size: 11px;
  color: #b9b9b9;
  padding-top: 4px;
}

.contents {
  border-bottom: 1px solid #d6d6d6;
  padding: 15px 25px 15px 25px;
}

.aside {
  display: flex;
  margin-left: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.aside > div {
  width: 325px;
  margin-top: 5px;
  border: 1px solid #d6d6d6;
  background-color: #f8f8f8;
}

.popular > div {
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.bluetitle span {
  color: #056ab5;
  font-size: 14px;
  font-weight: bold;
}

.bluetitle {
  font-size: 13px;
  color: #b9b9b9;
  font-weight: 700;
}

.text {
  font-size: 12px;
}

.text span {
  font-size: 13px;
  font-weight: bold;
}

.text > div {
  padding-top: 5px;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  color: #b9b9b9;
}

.reac > div {
  display: flex;
  margin-right: 5px;
  font-weight: 500;
}

.hot > div {
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.hot .contents {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.time {
  font-size: 11px;
  color: #b9b9b9;
}
