body {
  margin: 0;
}
/* 헤더 css 코드 */
header {
  border-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 75px;
  border-bottom: solid 1px rgb(213, 213, 213);
}

.check {
  color: rgb(230, 60, 60);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 220px;
}

.appname {
  display: flex;
  flex-direction: column;
  align-items: start;

  margin-left: 10px;
}

.everytime {
  font-size: 12px;
  font-weight: 600;
  color: red;
}

.schname {
  font-size: 23px;
}

.bigcate {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;

  font-weight: 700;
}

li:hover {
  color: red;
}

.anofunc {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-left: 220px;
}

.eachfunc {
  border: solid 1px rgb(205, 205, 205);
  border-radius: 25%;
  padding: 6px;

  margin-left: 3px;
}

.boardcate {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(88, 88, 88);
  font-size: 14px;

  height: 200px;

  border-bottom: solid 1px rgb(213, 213, 213);
}
nav {
  margin-bottom: 10px;
}
.b {
  display: flex;
  flex-direction: row;
}

.kindofboard {
  margin-right: 55px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-left: 20px;
  border-left: solid 1px rgb(205, 205, 205);
}

/* .kindofboard > div {
  padding-top: 6px;
} */

.b0 {
  padding-right: 40px;
  border-right: solid 1px rgb(205, 205, 205);
}

.b1 {
  padding-right: 35px;
  padding-left: 15px;
  border-right: solid 1px rgb(205, 205, 205);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.b2 {
  padding-right: 35px;
  padding-left: 15px;
  border-right: solid 1px rgb(205, 205, 205);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.b3 {
  padding-right: 35px;
  padding-left: 15px;
  border-right: solid 1px rgb(205, 205, 205);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.b4 {
  padding-right: 35px;
  padding-left: 15px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.b5 {
  padding-left: 15px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-right: 25px;
  border-right: solid 1px rgb(205, 205, 205);
}

.seemore {
  color: rgb(230, 60, 60);
}

/* section */
section {
  display: flex;
  flex-direction: column;

  width: 780px;
  margin-top: 10px;
  margin-right: 10px;
}

.secretboard {
  border: solid 1px rgb(205, 205, 205);
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
}

.questhot {
  border: solid 1px rgb(205, 205, 205);
  padding: 10px;

  margin-top: 5px;
}

.quest {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 13px;
  color: rgb(90, 90, 90);
}

.questletter {
  background-color: rgb(224, 255, 252);
  border: none;
  border-radius: 1ch;
  padding: 10px;

  margin-right: 5px;
}

.hot {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin-top: 5px;
}

.hotletters {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  color: rgb(90, 90, 90);

  background-color: rgb(255, 240, 240);
  border: none;
  border-radius: 1ch;
  padding: 10px;
}

.newletter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(250, 250, 250);
  border: solid 2px rgb(205, 205, 205);
  padding: 5px;
  padding-left: 10px;

  color: rgb(166, 166, 166);
  font-size: 14px;
  font-weight: 500;

  margin-top: 5px;
}

.letter {
  margin-top: 5px;
  width: 780px;
}

.sec_letter {
  border: solid 1px rgb(205, 205, 205);
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec_letter_content {
  padding: 20px;
  padding-left: 10px;

  display: flex;
  flex-direction: column;
}

.prevsc {
  margin-top: 10px;
  margin-right: 10px;
}

.lettitle {
  font-size: 17px;
  font-weight: bold;

  margin-bottom: 3px;
}

.letcontent {
  color: gray;
  font-size: 16px;
  margin-bottom: 3px;
}

.letinfo {
  color: gray;
  font-size: 12px;
}

.goodimg {
  width: 11px;
  height: 11px;
}

.good {
  color: red;
  font-size: 12px;

  margin-left: 5px;
  margin-right: 9px;
}

.comimg {
  width: 11px;
  height: 11px;
}

.comment {
  color: rgb(10, 205, 205);
  font-size: 12px;
  margin-top: 1px;
}

.downfunc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 5px;
  margin-bottom: 30px;
}

.search_func {
  border: solid 1px;
  padding-top: 6px;
}

.next {
  width: 50px;
  color: red;

  /* padding: 5px; */
  padding: 8px 5px;
  border: solid 1px red;
  border-radius: 5px;
}

/* aside */

aside {
  width: 340px;
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-left: 10px;
}

.asicate1 {
  color: rgb(57, 57, 223);
  font-weight: 600;

  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(250, 250, 250);
  padding: 10px;
}

.popletter {
  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(250, 250, 250);
  padding: 10px;
}

.poptitle {
  font-size: 15px;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

.popcontent {
  font-size: 14px;
  color: rgb(90, 90, 90);

  margin-top: 3px;
}

.popboardcate {
  font-size: 13px;
  color: rgb(90, 90, 90);

  margin-right: 5px;
  margin-top: 1px;
}

.asicate2 {
  color: rgb(57, 57, 223);
  font-weight: 600;
}

.asi_hottitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(250, 250, 250);
  padding: 10px;

  margin-top: 5px;
}

.seemore2 {
  color: gray;
  font-size: 13px;
  font-weight: 500;
}

.hotcontent {
  color: grey;
  font-size: 15px;
}

.hotinfo {
  color: grey;
  font-size: 12px;
}

.asi_hotletter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: solid 1px rgb(230, 230, 230);
  background-color: rgb(250, 250, 250);
  padding: 10px;
}

.sideset {
  display: flex;
  justify-content: center;
}

.infointerest {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.interest {
  display: flex;
  flex-direction: row;

  margin-top: 2px;
}

/* footer */
.extrainfo {
  display: flex;
  flex-direction: row;
  justify-content: center;

  color: gray;
  font-size: 12px;

  gap: 5px;

  margin-bottom: 12px;
}

.boldlet {
  font-weight: 700;
}
