/*전체*/
body {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*폼*/
form {
  display: flex;
  flex-direction: column;
}

.newpost {
  width: 900px;
  border: 2px solid #ccc;
}

.newpost_title {
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0 15px 15px;
}

.newpost_content {
  border: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 12px;
  padding: 15px 0 15px 15px;
}

.file_submit {
  display: flex;
  align-items: center;
  height: 40px;
}

.anonymity {
  margin-left: 715px;
}

.submit {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: red;
  border: none;
  margin-left: 15px;
}

.ko_anonymity {
  color: #737373;
  font-size: 12px;
  font-weight: 800;
}
