h1,
h2,
h3,
h4,
p {
  text-align: center;
}

.circle:hover {
  content: url("https://i.pinimg.com/564x/4d/ee/67/4dee67174360ffff5a9ade3a475a6a5a.jpg");
}

.circle {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  object-fit: cover;
  float: none;
}

article img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
}

article.img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  display: block;
  margin-left: 20px;
}

body {
  background-color: skyblue;
  color: #444;
  margin: 0 auto;
}

article figure {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

ul {
  padding-inline-start: 0px;
}
