.header {
  font-weight: bold;
}

.img {
  width: 200px;
  margin-right: 30px;
}

.line {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.con {
  display: flex;
  justify-content: center;
}

.year {
  justify-content: center;
  margin-right: 50px;
}

.foodpic {
  width: 200px;
  justify-content: center;
  margin: 10px;
}

.name {
  justify-content: center;
}

.pick {
  display: flex;
  justify-content: center;
}

.place {
  justify-content: center;
}

.nearschool {
  margin: 20px;
  width: 500px;
}
.pickimg {
  margin: 20px;
  width: 500px;
}
.pickedcenter {
  display: flex;
  justify-content: center;
}
.nearschooltxt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
